#background {
	position: fixed;
	left: 0;
	top: 0;
	width:100%;
	height: 100%;
	background-image: url("../images/wall1.jpg");
	background-size: 100%;
	z-index: -5;


}
#menuIcon:hover {
	cursor: pointer;
	width: 120px;
	height: 120px;
	/*height: auto;*/
}
#initial {
	width: 3000px;
	height: 3000px; 
	background-color: black;
	z-index: 11;
}
#myLogo {
	position: fixed;
	left: 26%;
	width: 50%;
	top:-10%;
}
#mainBody {
	font-family: "Times New Roman", Times, serif;
	background-color: grey;
	/*background-image: url("../images/wall1.jpg");*/
	background-size: 128%;
	padding-bottom: 450px;
	z-index: 10;
}

h3 {
	font-size: 1.8em;
}
p {
	margin-top: 2px;
}
#sidebar {
	width: 10%;
	height: 300px;
	/*background-color: grey;*/
	position: fixed;
	left: 0px;
	top: 20%;
	/*border: 2px solid black;*/
}
.sideButtons {
	background-color: none;
	color: black;
	font-weight: bold;
	font-family: "righteous";
	/*text-align: ;*/
	font-size: 1.5em;
	width: auto;
	height: auto;
	margin-top: 20px;
	margin-left: 7%;
	border-left: 3px solid green;
	padding: 1em;
	/*border-radius: 10px;*/
}
.sideButtons:hover {
	cursor: pointer;
	color: 	green;
	border-color:white;
	font-size: 	1.8em;
}
#mail {
	position: relative;
	left: 25%;
}
.container {
	display: grid;
	grid-template-columns: 10% 1fr 1fr 1fr 1fr 1fr 1fr 10%;
	
	grid-auto-rows: minmax(90px, auto);

	/*background-image: url("../images/wall3.jpg");*/
	/*background-size: 100%;*/
  	
}
/*navbar section*/
.navBar {
	background-color: none;
	width: 100%;
	grid-column-start: 1;
	grid-column-end: 9;
	grid-row-start: 1;
	grid-row-end: 2;
	/*-ms-grid-column: 	;*/
	
	border-color: grey;
	border: 10px; 

	z-index: 10;
	
}
#name {
	font-size: 3.2em;
	margin-left: 10%;
	color: black;
	float: left;
}
#connect {
	float: right;
	font-size: 1.2em;
	margin-top: 15px;
	margin-right: 11%;
}

#menuIcon {
	position: fixed;	
	left: 1%;
	top: 12%;
	width: 	100px;
	height:100px;
}
.logos {
	
	margin-left: 5px;
	width: 35px;
	height:45px;
	border-radius: 10px;
}
.logos:hover {
	width: 45px;
	height: 45px;
	border: 1px black solid;
	}
/*navbar section end*/

.row1 {
	/*background-color: yellow;*/
	grid-column-start: 2;
	grid-column-end: 8;
	grid-row-start: 2;
	grid-row-end: 3;
	text-align: center;
}
#joke {
	color: blue;
	margin-right: auto;
	margin-left: auto;
	font-weight: bold;
	font-size: 3.0em;
}

#joke:hover {
	cursor: pointer;
	color: orange;
}

.me {
	/*background-color: green;*/
	grid-column-start: 2;
	grid-column-end: 5;
	grid-row-start: 3;
	grid-row-end: 4;
}
#me {
	margin-top: 8%;
	width: 60%;
	height: auto;
	/*background-color: purple;*/

}
#myPic {
	width: 100%;
	height: auto;
	border: 2px yellow solid;
	border-radius: 10px;

}
.aboutMe {
	/*background-color: blue;*/
	margin-top: 6%;
	grid-column-start: 5;
	grid-column-end: 8;
	grid-row-start: 3;
	grid-row-end: 4;
	overflow-y:scroll;
	height: 350px;
}
#summary {
	color: orange;
	font-size: 2em;
	margin-right: 10%;
	/*overflow-y: scroll;	*/


}
#heightDiv {
	grid-column-start: 1;
	grid-column-end: 9;
	grid-row-start: 4;
	grid-row-end: 5;
	height: 220px;
}


.portfolioTittle {
	/*background-color: yellow;*/
	grid-column-start: 2;
	grid-column-end: 8;
	grid-row-start: 5;
	grid-row-end: 6;
}
.centerTittle {
	color: green;
	text-align:center;
	font-size: 3.2em;
	/*text-decoration: underline;*/
	/*text-decoration-style: */
}


.center {
	margin-left: auto;
	margin-right: auto;
	
}
.pImages {
	width: 100%;
	height: 100%;
	margin-top: 20px;
	margin-right: auto;	
	margin-left: auto;
}
.projects {
	/*background-color: orange;*/
	width: 75%;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
}
.pImages:hover {
	border: 2px white solid;
}
.pTiitle {
	position: relative;
	width: 100%;
	top: -68px;
	background-color: white;
	margin-left: 1px;
	text-align: center;
	z-index: 0;
	border: 1px black solid;
}
.pDescription {
	text-align: center;
	color: black;
	margin-top: 12%;
	font-size: 1.5em;
	position: relative;
	font-weight: bold;
	/*top: -30px;*/
}
.p1 {
	/*background-color: blue;*/
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 6;
	grid-row-end: 7;
}
#p1 {
	/*background: url('assets/images/me.JPG') no-repeat center center fixed; */
}
.p2 {
	/*background-color: green;*/
	grid-column-start: 4;
	grid-column-end: 6;
	grid-row-start: 6;
	grid-row-end: 7;
}
.p3 {
	/*background-color:red ;*/
	grid-column-start: 6;
	grid-column-end: 8;
	grid-row-start: 6;
	grid-row-end: 7;
}

.p4 {
	grid-column-start: 2;
	grid-column-end: 8;
	grid-row-start: 7;
	grid-row-end: 8;
	height: 450px;
}

.comentTittle {
	/*background-color:yellow ;*/
	grid-column-start: 2;
	grid-column-end: 8;
	grid-row-start: 8;
	grid-row-end: 9;
}
.commentForm {
	/*background-color:orange ;*/
	grid-column-start: 2;
	grid-column-end: 5;
	grid-row-start: 9;
	grid-row-end: 10;
}
.commentBox {
	/*background-color:green ;*/
	grid-column-start: 5;
	grid-column-end: 8;
	grid-row-start: 9;
	grid-row-end: 10;
}
.commentSpace {
	grid-column-start: 8;
	grid-column-end: 2;
	grid-row-start: 10;
	grid-row-end: 11;
	/*background-color: green;*/
}
.box {
	width: 240px;
	height: 250px;
	margin: 50px auto 50px auto;
	background-color:white;
	border: 1px solid green;
	border-radius: 10px;
	
}
#comment {
	margin-left: 15px;
	width: 170px;
	border-radius: 10px;
} 
#enterComment {
	margin-left: 15px
}
button {
	margin-left: 15px;
	margin-top: 10px;
	border-radius: 5px;
	background-color: black;
	color: white;
	border-color: green;

}
/*button*/
#open {
	margin-left: 30%;
	margin-top: 10%;
	font-size: 1.2em;
}
button:hover {
	cursor: pointer;
	/*border-color: grey;*/
	border: 2px yellow solid;
} 
#text {
	margin-left: 15px;
	font-size: 18px;
}
#commentTittle {
	margin-left: 15px;

}
#thanks {
	color: green;
}


